<div class="forgot-container">

    @if (!reset) {
        <mat-card class="forgot-card">

            <mat-card-header>
                <mat-card-title class="title">Restablecer contraseña</mat-card-title>
                <mat-card-subtitle class="subtitle">
                    Verifica tu identidad
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

                <form [formGroup]="forgotForm" (ngSubmit)="onSubmitForgot()">

                    <mat-form-field appearance="outline">
                        <mat-label>Correo electrónico</mat-label>

                        <mat-icon matPrefix>email</mat-icon>

                        <input
                            matInput
                            type="text"
                            formControlName="email"
                            autocomplete="off"
                        />

                        @if (forgotForm.get('email')?.hasError('required')) {
                            <mat-error>
                            El correo electrónico es requerido
                            </mat-error>
                        }

                        @if (forgotForm.get('email')?.hasError('email')) {
                            <mat-error>
                            El correo electrónico debe ser valido
                            </mat-error>
                        }

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Nombre de usuario</mat-label>

                        <mat-icon matPrefix>alternate_email</mat-icon>

                        <input
                            matInput
                            type="text"
                            formControlName="username"
                            autocomplete="off"
                        />

                        @if (forgotForm.get('username')?.hasError('required')) {
                            <mat-error>
                            El nombre de usuario es requerido
                            </mat-error>
                        }

                    </mat-form-field>


                    <button
                        mat-flat-button
                        color="primary"
                        type="submit"
                        class="forgot-button"
                        [disabled]="forgotForm.invalid || loading"
                    >
                    @if (loading) {
                        <mat-spinner diameter="20"></mat-spinner>
                    } @else {
                        Confirmar identidad
                    }
                    </button>

                </form>

            </mat-card-content>

            <!-- <mat-card-footer>
            <div class="register-link">
                ¿Ya tienes una cuenta?
                <a routerLink="/forgot">
                Inicia sesión
                </a>
            </div>
            </mat-card-footer> -->

        </mat-card>
    } @else {

        <mat-card class="forgot-card">

            <mat-card-header>
                <mat-card-title class="title">Registrarse</mat-card-title>
                <mat-card-subtitle class="subtitle">
                    Crea tu cuenta
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

                <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">

                    <mat-form-field appearance="outline">
                        <mat-label>Correo electrónico</mat-label>

                        <mat-icon matPrefix>email</mat-icon>

                        <input
                            matInput
                            type="text"
                            formControlName="email"
                            autocomplete="off"
                        />

                        @if (resetForm.get('email')?.hasError('required')) {
                            <mat-error>
                            El correo electrónico es requerido
                            </mat-error>
                        }

                        @if (resetForm.get('email')?.hasError('email')) {
                            <mat-error>
                            El correo electrónico debe ser valido
                            </mat-error>
                        }

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Nombre de usuario</mat-label>

                        <mat-icon matPrefix>alternate_email</mat-icon>

                        <input
                            matInput
                            type="text"
                            formControlName="username"
                            autocomplete="off"
                        />

                        @if (resetForm.get('username')?.hasError('required')) {
                            <mat-error>
                            El nombre de usuario es requerido
                            </mat-error>
                        }

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>

                        <mat-icon matPrefix>lock</mat-icon>

                        <input
                            matInput
                            [type]="hidePassword ? 'password' : 'text'"
                            formControlName="password"
                            autocomplete="current-password"
                        />

                        <button
                            mat-icon-button
                            matSuffix
                            type="button"
                            (click)="hidePassword = !hidePassword"
                        >
                            <mat-icon>
                            {{ hidePassword ? 'visibility' : 'visibility_off' }}
                            </mat-icon>
                        </button>

                        @if (resetForm.get('password')?.hasError('required')) {
                            <mat-error>
                            La contraseña es requerida
                            </mat-error>
                        }

                        @if (resetForm.get('password')?.hasError('minlength')) {
                            <mat-error>
                            La contraseña debe tener al menos 8 caracteres
                            </mat-error>
                        }

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirmar contraseña</mat-label>

                        <mat-icon matPrefix>lock</mat-icon>

                        <input
                            matInput
                            [type]="hidePassword ? 'password' : 'text'"
                            formControlName="confirmPassword"
                            autocomplete="current-password"
                        />

                        <button
                            mat-icon-button
                            matSuffix
                            type="button"
                            (click)="hidePassword = !hidePassword"
                        >
                            <mat-icon>
                            {{ hidePassword ? 'visibility' : 'visibility_off' }}
                            </mat-icon>
                        </button>

                        @if (resetForm.get('confirmPassword')?.hasError('required')) {
                            <mat-error>
                            Es necesario confirmar la contraseña
                            </mat-error>
                        }

                    </mat-form-field>

                    @if (resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.dirty) {
                        <div class="password-error">
                            La contraseña no coincide
                        </div>
                    }


                    <button
                        mat-flat-button
                        color="primary"
                        type="submit"
                        class="forgot-button"
                        [disabled]="resetForm.invalid || loading"
                    >
                    @if (loading) {
                        <mat-spinner diameter="20"></mat-spinner>
                    } @else {
                        Establecer nueva contraseña
                    }
                    </button>

                </form>

            </mat-card-content>

        </mat-card>
    }

</div>